<html lang="en">

    <body>
        
        <div class="lost content">
            <h2>Error to display Missing Content</h2>
            <h3>Please fix errors and re-enter</h3>
        </div>
    </body>
    
</html>